body {
  background-color: #d7d7d7;
  color: black;
  overflow-x: hidden;
}
.warning-paragraph {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: scroll;
  padding: 10px;
  scrollbar-width: thin;
}
.warning-paragraph > div {
    width: auto;
    background-color: #f8d7da;
    border-radius: 5px; 
    padding: 10px;
    margin: 10px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); 
}
.error {
  color: red;
}
@media screen and (max-width: 768px) {
  .warning-paragraph {
    flex-wrap: wrap;
  }
    
}
